.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pin-b {
  bottom: 0;
}

.pin-r {
  right: 0;
}

.m-1 {
  margin: 1rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-end {
  align-items: flex-end;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
