.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pin-b {
  bottom: 0;
}

.pin-r {
  right: 0;
}

.m-1 {
  margin: 1rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-end {
  align-items: flex-end;
}
