.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pin-b {
  bottom: 0;
}

.pin-r {
  right: 0;
}
.pin-l {
  left: 0;
}

.m-1 {
  margin: 1rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-end {
  align-items: flex-end;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
.mt-px {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.w-half {
  width: 50%;
}
